#bl-app-root {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

@font-face {
	font-family: 'Manrope';
	src: url('../public/fonts/Manrope-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../public/fonts/Manrope-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../public/fonts/Manrope-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope-Regular';
	src: url('../public/fonts/Manrope-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope-SemiBold';
	src: url('../public/fonts/Manrope-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope-Bold';
	src: url('../public/fonts/Manrope-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
